<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>       
    <add key="translationapi_subscription_key" value ="ENTER YOUR KEY HERE"/>    
    <add key="application_id" value ="660bf07a-1646-4f37-a906-90c927131e4a"/>
    <add key="luis_subscription_key" value ="ENTER YOUR KEY HERE"/>
    <add key="luis_uri" value="ENTER YOUR LUIS URI HERE"/>
  </appSettings>
</configuration>